html { height: 100% }
body { height: 100%; margin: 0; padding: 0; text-align:center;background-color:#000;}
fieldset{border:none;}
.button {
  display:inline-block;
  height:35px;
  line-height:35px;
  padding:0 10px;
  position:relative;
  cursor:pointer;
  color:#fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.button.green {
    background:#0f3847 url("/images/buttonBack.png") repeat-x left top;
}
.button.gray {
    background:#8b8b8b url("/images/buttonBack_gray.png") repeat-x left top;
}

.button.mini {
    height:20px;
    line-height:20px;
}
#container {
  width:950px;
  margin: auto;
  text-align:left;
  position:relative;
  height:100%;
  font-family:Helvetica, Verdana, Sans-Serif;
}
#logo {
  background: #EA1C23 url("/images/seattle_sil.png") no-repeat center top;
  color: #FFFFFF;
  font-size: 2em;
  height: 65px;
  left: 10px;
  line-height: 65px;
  padding: 0 25px 0 10px;
  position: absolute;
  top: 0;
  z-index: 2;
  -moz-box-shadow: 2px 2px 8px #000;
  -webkit-box-shadow: 2px 2px 8px #000;
  box-shadow: 2px 2px 8px #000;
}
#logo a {
  color: inherit;
  text-decoration: none;
}
#subLogo {
  float: right;
  font-size: 0.4em;
  line-height: 1em;
  padding-top: 17px;
}
nav.header  {
  background: #000;
  float: left;
  width: 100%;
}
.topright {
  float: right;
  font-size: 0.8em;
  background: #EA1C23;
  color: #fff;
  padding: 10px;
}
ul.inline {
  margin: 0;
  padding: 0;
}
ul.inline li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

ul.inline li a {
  padding: 0 5px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

ul.inline li a:visited {
  color: #eee;
}

ul.inline li a:hover {
  color: #fff;
  text-decoration: underline;
}

/* For resolving float issues */
.spacer {
  clear: both;
}

#mapWrap {
  z-index:1;

  position:relative;
}
#map_canvas {
  height:300px;
}
#myTour {
  display:none;
  position:absolute;
  bottom:10px;
  left:10px;
  z-index:2;
  background:#0f3847;
  padding:5px;
  color:#fff;
  text-align:center;
  
}
#focusBanner {
  height:185px;
  background:#555 ;
  color:#FFF;
  position:relative;
  z-index:2;
}
#getStarted {
  background:#353738 url("/images/bannerLeft.png") no-repeat left center;
  width:100%;
  height:100%;
  
}

#getStarted .getStartedText {
  float:right;
  font-weight:thin;
  float:right;
  width:400px;
  font-size:1.5em;
  padding:15px;
  margin:43px;
  text-align:center;
  font-family: 'Josefin Slab', serif;
}
#getStarted a {
  text-align:center;
  left:100px;
  color:#FFF;
}

#currentTour {
  display:none;
  position:relative;
  height:100%;
  width:100%;
  font-family: 'Josefin Slab', serif;
}
#currentTour .fact {
  padding-top:10px;
  height:40%;
}
#currentTour .info, #currentTour .places  {
  height:100%;
  width:50%;  
  float:left;
}

#currentTour .place {
  margin:10px 0 0 0;
  float:left;
  font-family: 'Josefin Sans', sans-serif;
  width: 40%;
  height:50%;
  padding-right: 10%;
  
}
#currentTour .place h3{
  margin:0;
  border-bottom:1px dotted #fff;
  padding-bottom:3px;
}
#currentTour .place p{
  margin:0;
  padding-top:3px;
}
#currentSearch {
    position:absolute;
    left:-250px;
    top:100px;
    width:250px;
    background:#FFF;
    display:none;
}

#currentSearch li.current a.mini {
    visibility:visible;
}

#currentSearch a.mini {
    visibility:hidden;
    margin-left:5px;
}
#currentSearch ul{
 list-style:none;
 padding:10px;   
}


#currentSearch li{
    cursor:pointer;
    margin-bottom:5px;
    border-bottom:1px solid #C0C0C0;
}

#currentSearch li.current {
    font-weight:bold;
}
#searchBox  {
  font-family: 'Josefin Sans', sans-serif;
  width: 400px;
  font-size: 1.5em;
}
#search {
  padding:25px 0 0 20px;
  display:none;
}
#search .button{
 bottom:2px; 
 left:5px;
}
#focusBanner > div {
  display:none;
}

#focusBanner > div.current {
  display:block;
}
#focusBanner.welcome {
  
}
#toursHeader {
  background:#000 url("/images/cityScape.png") repeat-x left bottom;
  color:#FFF;
  height:48px;
  line-height:65px;
  font-family: 'Josefin Sans', sans-serif;
}
#featuredTours ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  
}
#tourClone {
  display:none;
}
li.tour {
  display:block;
  height: 170px;
  width:50%;
  float:left;
  margin-bottom:15px;
  position:relative;
  font-family: 'Josefin Slab', serif;
}
li.tour .selectCover {
  opacity:0;
  filter:alpha(opacity=0);
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  color:#FFF;
  z-index:1;
}
li.tour .selectCover span {
font-size: 2em;
line-height: 175px;
padding-left: 15px;
font-weight: bold;
}

li.tour .selectCover .black {
  background:#000000;
  z-index:1;
  height: 100%;
  position: absolute;
  width: 100%;
}
li.tour .image, .image {
  cursor:pointer;
  width:50%;height:100%;position:relative;float:left;
}
li.tour a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}
.image h3 {
  position:absolute;bottom:15px;left:0px;height:30px;color:#FFF;padding:0 7px;line-height:30px;
  -moz-box-shadow: 1px 3px 8px #333;
  -webkit-box-shadow: 1px 3px 8px #333;
  box-shadow: 1px 3px 8px #333;
}

.image h3.blue {
  background:transparent url("/images/label_blue.png") repeat-x;
}
.image h3.pink {
  background:transparent url("/images/label_pink.png") repeat-x;
}
.image h3.purple {
  background:transparent url("/images/label_purple.png") repeat-x;
}
.image h3.red {
  background:transparent url("/images/label_red.png") repeat-x;
}
.image h3.turq {
  background:transparent url("/images/label_turq.png") repeat-x;
}

.fact {
  float:left;width:25%;height:50%;text-align:center;color:#FFF;
}

.fact .number {
  font-size:2.5em;
}
.fact .unit {
  width: 65px;
  display: inline-block;
  color:#CCC;
}
#listWrap {
  display:none;
    text-align:center;
    font-weight:bold;
    color:#FFF;
    font-family:helvetica, arial, sans-serif;
    position:absolute;
    right:0;
    top:100px;
    width:200px;
    background:#666;
    padding:25px 15px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    -webkit-box-shadow:0 5px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow:0 5px 5px rgba(0, 0, 0, 0.5);
}
.ui-state-highlight { height: 64px; }

#listWrap label{
    font-size:10px;
    font-weight:normal;
}


#list {
    font-weight:normal;
    color:#666;
    padding:0;
    margin:10px 0;
}

#list li {
    height:15px;
    padding:5px;
    list-style: none outside none; 
}

#list li div.grips {
    position:absolute;
    top:5px;
    bottom:5px;
    right:0;
    width:16px;
    background:transparent url("/images/Gripper.png") repeat left top;
}

#list li.mapItem {
    cursor:move;
    position:relative;
    background:transparent url('/images/li_background.png') repeat-x left top;
    font-size:10px;
}

#list a.remove, #list a.remove:visited {
    font-size:10px;
    text-decoration:none;
    color:#194c70;
    margin-left:5px;
}

#list a.remove:hover {
    text-decoration:underline;
}

#saveButton{
/*        display:none;*/
}

.hidden {
  display: none;
}
#new_tour {
}

#new_tour input, #new_tour textarea{
    margin-left:10px;
}

#new_tour textarea {
    width:270px;
    height: 180px;
}

.ui-dialog {
  text-align:left;
}

.content {
  background: #353738;
  padding: 20px;
  color: #fff;
}

.content a  {
  color: #ccc;
  text-decoration: underline;
}

.content a:hover {
  text-decoration: none;
}

.content ul {
  font-size: 1em;
}

.content ul li {
  font-size: 1em;
}

/* Tour Details Page */
#tourDetails {
  margin: 10px;
}
#tourDetails .stops {
  padding:5px;
  float:left;
} 
#tourDetails .map {
  float: right;
  width:350px;
  height:350px;
}



/* Flash messages */
.flash_error, .flash_alert, .flash_notice, .flash_success, .flash_info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.flash_error, .flash_alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.flash_notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.flash_success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.flash_info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.flash_error a, .flash_alert a {color:#8a1f11;}
.flash_notice a {color:#514721;}
.flash_success a {color:#264409;}
.flash_info a {color:#205791;}
