<%# Tweets the title of the page, and a link. %>
<a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="tourious">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

<%# TODO: email, facebook, reddit buttons %>
