<div class="rating">
  <div class="head">
    <%= pluralize(rating.score, "star") %> By <%= link_to rating.user.name, rating.user %>
  </div>
  <p class="content">
    <%= rating.comment %>
  </p>
</div>
