<h1><%= tour.name %>
<% if current_user == @tour.user %>
  <span style="font-size:0.5em">
    <%= link_to 'Edit', edit_tour_path(@tour) %>
  </span>
<% end %>
</h1>

<p style="float:right;width:300px;height:300px;border:solid 1px #fff; margin:10px;padding:8px;">TODO: Map here</p>
<p>
  <%= tour.desc %>
</p>
<% unless tour.stops.empty? %>
<ul>
  <%= render tour.stops %>
</ul>
<% end %>
