<p id="notice"><%= notice %></p>

<%= render 'tours/tour_detail', :tour => @tour %>

<br class="spacer" />
<section id="ratings">
  <%= render 'ratings/existing_and_new', :tour => @tour %>
</section>
  
