<div id="tourDetails">
  <%= render 'shared/share_buttons' %>
  <%= render 'tours/tour_detail', :tour => @tour %>

  <br class="spacer" />
  <section id="ratings">
    <%= render 'ratings/existing_and_new', :tour => @tour %>
  </section>

</div>
<br class="spacer" />


<script type="text/javascript">
    var data = <%= @tour.to_json.to_s.html_safe %>;
    loadMap($("div.map").get(0),{}, data.stops);
</script>

