<h1>About Us</h1>
<div style="width: 100%; text-align: center">
  <img src="/images/tourious-folks.jpg" />
</div>
<br style="clear:both" />

<p>
  Hi, we're the founders of Tourious: Josh, Devin, and Steven.
</p>
<p>
  Tourious will be the best way to travel, but we're not quite there yet. We're less than a month old and there's quite a bit of work left to do.
</p>
