
<div id="map"></div>
<section id="currentTourDetails"><%= link_to "Create a tour", :new_tour %></section>

<%= render 'tours/search_and_filter' %>

<%= render 'tours/tours_list' %>

<script stype="text/javascript">

    var map = new Tourious.map($("#map").get(0));
    
</script>
