<h1>Y combinator winter 2012</h1>
<p>Thanks for checking us out! We have a few things to show you:</p>
<h2><%= link_to "The demo", root_path %></h2>
<p><%= link_to "The demo", root_path %> is in active development, so some things might break. Please check out the vision if the demo left you wanting more.</p>
<h2>The vision</h2>
<iframe width="420" height="315" src="http://www.youtube.com/embed/UHN4AvFLcOA" frameborder="0" allowfullscreen></iframe>
<h2>Our posterous video</h2>
<p><%= link_to "http://steven-j39ft.posterous.com/private/fCkiFcxHHo" , "http://steven-j39ft.posterous.com/private/fCkiFcxHHo" %></p>
<embed src="http://steven-j39ft.posterous.com/jwplayer/player.swf" allowfullscreen="true" wmode="opaque" allowscriptaccess="always" height="313" flashvars="file=http://posterous.com/getfile/video.posterous.com/steven-j39ft/OhgopdiAHXpLqG8tfvAtBOapFiKuupuxN5IgNjC0dni6hNvv0m3xTpkC59D6/ycw2012-tourious.mp4&amp;image=http://posterous.com/getfile/video.posterous.com/steven-j39ft/OhgopdiAHXpLqG8tfvAtBOapFiKuupuxN5IgNjC0dni6hNvv0m3xTpkC59D6/frame_0000.png&amp;skin=/jwplayer/stijl.swf&amp;fullscreen=true" width="500" bgcolor="#FFFFFF"></embed>
