<footer>
  <div class="content">
    <ul>
      <li><%= link_to "ABOUT", about_path %></li>
      <li><%= link_to "CONTACT", "mailto:steven@tourioushq.com" %></li>
    </ul>
    <div class="right">
      <a href="http://mixpanel.com/f/partner"><img src="http://mixpanel.com/site_media/images/partner/badge_blue.png" alt="Real Time Web Analytics" /></a>
    </div>
    <div style="text-align:left;clear:both">
    <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</footer>
